name: Unit Tests, Linting and Formatting
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 22.20
      - name: Install dependencies
        run: npm ci
      - name: Linting
        run: npm run lint
      - name: Unit tests
        run: npm run build && npm run test:unit:ci
        env:
          PUBLIC_BUCKET_URL: https://storage.googleapis.com/enki-website
